.logo{
  margin-left: 70px;
  color: #1363DF;
  margin-top: 14.64px;
  font-weight: bold;
  font-size: 25px;
  margin-right: 15px;
}
.tagline{
  width: 102.68px;
  color: #9AA7AC;
  margin-left: 70px;
  font-size: 8.03px;
height: 8.03px;

}

.header{

  height: 75px;
  border-bottom: 0.888889px solid #DADADA;
box-shadow: 0px 6.22222px 17.7778px rgba(0, 0, 0, 0.06);
}


.search{
    /* position: absolute ; */
   margin-top: 14.64px;
   margin-left: 10px;
   margin-right: 10px;
   padding: 10px 14px;
   border: 1px solid #B1B1B1;
    border-radius: 8px;
    width: 283px;
}

button{
    
font-size: 14px;
line-height: 17px;
background-color: transparent;
border: 0px;
padding-right: 20px;
padding-left: 20px;
}

button span{
    color: #9AA7AC;
    padding-left:13px;

}

.line{
    width: 32px;
height: 0px;

/* Stroke */
display: inline-block;
border: 1px solid #DADADA;
transform: rotate(90deg);

}

.dropdown{
  width: 120px;
height: 39px;
margin-left: 20px;
background: #DFE6EB;
border-radius: 7px;
padding-left: 10px;
}

.left-top{
  
  background-image: url('../public/background.png'),url('../public/Rectangle.png');
  background-repeat: no-repeat;
  display: inline-block;
  background-position: 0px, 0px;
  width: 320px;
  text-align: center;
  /* background-size: 350px; */
  height: 160px;
}

.details{
  border: 1px solid #DADADA;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  margin-left: 60px;
  /* text-align: center; */
  /* background-image: url('../public/background.png'),url('../public/Rectangle.png');
  background-repeat: no-repeat;
  display: inline-block; */
  width: 350px;
  overflow-y: auto;
  height:510px;
  display: inline-block;
}
.details img{
  margin-top: 15px;
  /* border: #DADADA; */
  border-radius: 100%;
  border: 2px solid #DADADA;
  /* padding-top: 0; */
}
.details span{
  background-color: white;
  margin-left: 5px;
  margin-right: 5px;
  padding-right: 3px;
  padding-left: 3px;
  font-size: 10px;
  border-radius: 8px;

  /* font-size: 6.75px; */
}
.details .name{
  color: #FFFFFF;
  padding: 0;
  margin: 0;
}
.details .number{
  
  margin: 0;
  font-size: 10px;
  color: #FFFFFF;
  opacity: 0.6;
}

.details a{
  color: #FFFFFF;
  text-decoration: none;
  font-size: 14px;
/* margin-bottom: 10px; */
}

.options{
  text-align: left;
  /* background-color: pink; */
  position: relative;
  
}
hr{
  width: 320px;
  margin-top: 0;
}


.options h5{
  font-size: 17px;
  font-weight: bold;
}

.options p{
  font-size: 12px;
}


*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #EBEBEB;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: #1363DF;
  border-radius: 20px;
  /* border: 3px solid orange; */
}

.option img{
  position: absolute;
  top: 10px;
  fill: black;
  border: none;

}

.option{
  
  border-radius: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
  margin-right: 5px;
  margin-bottom: 0;
}
h3{
  margin-left: 60px;
}
.options :hover{
  background-color: black;
  color: white;
  
}

.entry{
  border: 1px solid #DADADA;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  display: inline-block;
  position: relative;
  top: -39px;
  
}
.entry h4{
  margin-left: 10px;
  color: #1363DF;
  margin-bottom: 11px;
}
.entry input,select{
  width: 350px;
  margin-left: 50px;
  margin-left: 20px;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 20px;


}
/* .entry select{
  width: 300px;
  margin-left: 30px;
} */

.entry label{
  margin-left: 50px;
  width: 350px;
}